@model WebApplication2.Models.Users

@{
    ViewBag.Title = "Our Users";
}

<h2>Users List</h2>
<ul>
    @foreach (var usr in (List<WebApplication2.Models.Users>)ViewData["Users"])
    {
        <li>@usr.FirstName @usr.LastName</li>

    }
</ul>

